
.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
  
    text-align: center;
    /* font-family: 'Abril Fatface';
font-family: 'Edu SA Beginner';
font-family: 'REM', sans-serif;
font-family: 'Roboto', sans-serif; */
    font-size: 18px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 86%;
    margin-top: -2px;
   
    /* margin-left: 1240px; */
    
  }
  h1{
    margin-top: 5%;
    font-size: 2rem;
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'REM', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #1D5D9B;
    border: #1D5D9B;
    color: white;
    border-radius: 45%;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    padding: 15px;

  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  a{
    color: #FFFFFF;
  }
  img{
    margin-left: 30%;
    border-radius:00%;
    margin-top:2%;
    border: solid white 10px;
    border-bottom: solid #FFFFFF 50px;
  }
  video{
    height: 40%;
    width: 34%;
    margin-left: 34%;
    margin-top: 5.5%;
  }
  
